body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #1f1f1f;
}

.navbar-brand {
    font-weight: bold;
    color: #00e5ff !important;
}

.card {
    background-color: #1e1e1e;
    border-radius: 12px;
    border: none;
}

.card-title {
    color: #00e5ff;
}

.form-control, textarea {
    background-color: #2a2a2a;
    color: #fff;
    border: none;
}

.form-control::placeholder {
    color: #b0b0b0;
}

.btn-primary {
    background-color: #00e5ff;
    border: none;
    color: #000;
}

.btn-primary:hover {
    background-color: #00bcd4;
}

.section-title {
    color: #00e5ff;
    margin-bottom: 20px;
}

footer {
    background-color: #1f1f1f;
    color: #aaa;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
}
.hero {
    position: relative;
    min-height: 75vh; /* makes image clearly visible */
    background: linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.65)
    ),
    url("../images/hero.avif") center center / cover no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    padding: 40px;
}

.hero-content {
    max-width: 900px;
    margin: auto;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.hero p {
    font-size: 1.1rem;
    color: #dddddd;
    margin-top: 20px;
}

.hero .btn {
    padding: 12px 28px;
    font-size: 1.1rem;
}

